<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TimeServiceSoap" />
                <binding name="LocalTimeSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TimeServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.nanonull.com/TimeService/TimeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TimeServiceSoap"
                contract="TimeService.TimeServiceSoap" name="TimeServiceSoap" />
            <endpoint address="http://www.nanonull.com/TimeService/TimeService.asmx"
                binding="customBinding" bindingConfiguration="TimeServiceSoap12"
                contract="TimeService.TimeServiceSoap" name="TimeServiceSoap12" />
            <endpoint address="http://www.ripedev.com/webservices/localtime.asmx"
                binding="basicHttpBinding" bindingConfiguration="LocalTimeSoap"
                contract="ServiceReference1.LocalTimeSoap" name="LocalTimeSoap" />
        </client>
    </system.serviceModel>
</configuration>